*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }
  @media only screen and (max-width: 800px) {
    html {
      font-size: 8px; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1,6; }

blockquote {
  padding-top: 22rem;
  padding-left: 3rem;
  color: white;
  font-size: 5rem;
  font-style: italic;
  font-weight: 100; }

cite {
  padding-left: 3rem;
  color: white;
  font-size: 2rem;
  font-style: italic;
  font-weight: 100; }

li {
  font-size: 1.6rem;
  padding: 0 2rem 0 2rem;
  font-weight: 300; }

a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex; }

.sidebar {
  height: 100vh;
  width: 15vw;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: left .3s; }
  @media only screen and (max-width: 1000px) {
    .sidebar {
      width: 25rem; } }

@media only screen and (max-width: 1000px) {
  .side-bar-open {
    position: absolute;
    left: 0;
    top: 8rem; } }

@media only screen and (max-width: 1000px) {
  .side-bar-close {
    position: absolute;
    left: -25rem;
    top: 8rem; } }

.sidebar__titulo {
  color: #3a978d;
  font-size: 3.1rem;
  font-weight: 200;
  margin-bottom: 1rem; }

.sidebar_subtitulo {
  font-size: 1.4rem;
  font-weight: 300;
  color: #7A5648; }

.sidebar_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 2rem;
  border-bottom: 0.1px solid grey;
  background-color: #FAFAFA;
  color: #7A5648; }

.sidebar__links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 100; }

.sidebar__link {
  font-size: 1.6rem; }

.main {
  width: 85vw;
  height: 100vh;
  overflow: auto; }
  @media only screen and (max-width: 1000px) {
    .main {
      width: 100vw; } }

.h1-primary {
  color: #008073;
  font-size: 3rem;
  font-weight: 100;
  padding: 1.5rem 1.5rem 1rem 1.5rem; }

.h3-primary-subtitle {
  color: #7A5648;
  font-size: 2rem;
  padding-top: 1.5rem; }

.p-card {
  font-size: 1.6rem;
  font-weight: 300;
  padding-left: 1.5rem; }

.img-card {
  width: 6rem;
  height: 6rem;
  object-fit: contain; }

.card_p {
  font-size: 2rem;
  font-weight: 100;
  padding: 1.5rem; }

.nav-fixed {
  width: 100vw;
  height: 8rem;
  position: fixed;
  flex-direction: row;
  display: flex;
  background-color: white; }
  @media only screen and (min-width: 1000px) {
    .nav-fixed {
      display: none; } }

.nav-titulo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.div-nav-icon-container {
  display: flex;
  align-items: center;
  margin-left: 2rem; }

.nav-titulo {
  font-size: 2.2rem;
  color: #008073; }

.nav-subtitulo {
  font-size: 1.4rem;
  font-weight: 200;
  color: #7A5648;
  text-align: center; }

.hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/imgs/antakari-kike.jpeg");
  background-size: cover;
  background-position: center bottom;
  object-fit: contain; }

.hero__titulo {
  font-size: 4rem;
  padding: 5rem 0 0 6rem; }

.link-container {
  height: 6rem;
  display: flex;
  padding: 2rem;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer; }

.link-container:hover {
  background-color: #FAFAFA;
  padding-left: 3rem;
  transition: all .3s; }

/*--------------------------*/
.side-color {
  position: absolute;
  /* tiene postion absolute con respecto al contenedor  */
  left: -20px;
  /* lo ocultamos, para posteriormente hacer el efecto */
  height: 100%;
  width: 10px;
  transition: all .3s;
  /* animacion fluida */ }

.side-color--sobremi {
  background-color: #008073; }

.side-color--experiencia {
  background-color: #2bbcd5; }

.side-color--educacion {
  background-color: #fb9802; }

.side-color--proyectos {
  background-color: #3f51b5; }

.side-color--tecnologias {
  background-color: #9c27b0; }

.side-color--contacto {
  background-color: #795548; }

/*--------------------------*/
.link-container:hover .side-color {
  left: 0;
  /* ahora estara dentro del contenedor */ }

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10.8rem;
  background-color: #008073;
  margin-bottom: 5rem; }

.divider-titulo {
  color: white;
  font-size: 4.3rem;
  font-weight: 100;
  padding: 5rem; }

.icon {
  height: 2.5rem;
  width: 2.5rem;
  transform: translateY(-2px);
  margin-right: 1rem; }

.card {
  width: 80rem;
  background-color: white;
  margin: 4rem auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden; }
  @media only screen and (max-width: 650px) {
    .card {
      width: 60rem; } }
  @media only screen and (max-width: 530px) {
    .card {
      width: 100%; } }

@media only screen and (max-width: 530px) {
  .card-tecnologias-container {
    padding: 0 4rem; } }

.card__header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd;
  margin: 0 1.5rem; }

.card__footer {
  background-color: #ebebeb;
  padding: 2rem; }

.proyectos {
  display: flex;
  margin: 4rem auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80rem; }

.card-proyectos {
  width: 30.1rem;
  height: 40rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 5rem;
  border-radius: 3px;
  overflow: hidden; }
  @media only screen and (max-width: 530px) {
    .card-proyectos {
      margin: 2rem; } }

.card-proyectos__images {
  object-fit: cover;
  width: 100%;
  height: 70%; }

.contact {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  margin: auto; }

.contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #7A5648; }

.icon--contact {
  fill: white;
  height: 2.5rem;
  width: 2.5rem; }

.contact-info {
  padding-bottom: 2rem;
  display: flex;
  align-items: center; }

.contact-link {
  margin-left: 2rem; }

.card__footer__p {
  font-size: 1.4rem;
  color: #666666; }

.card__div__tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 3rem; }

.card__img__tecnolgia {
  width: 10rem;
  height: 10rem;
  object-fit: contain; }
  @media only screen and (max-width: 650px) {
    .card__img__tecnolgia {
      width: 8rem;
      height: 8rem;
      object-fit: contain; } }

.card__content_tecnolgia {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.card_p_tecnologia {
  font-size: 2rem;
  font-weight: 300; }

.h1__card__h1_tecnologias {
  color: #7A5648; }

.contact-link {
  color: #008073;
  font-size: 1.5rem;
  font-weight: 400; }

.contact-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #008073;
  transition: width .3s; }

.contact-link:hover::after {
  width: 100%;
  transition: width .3s; }

/* ICON COLORS */
.icon-sobremi {
  fill: #008073; }

.icon-experiencia {
  fill: #2bbcd5; }

.icon-proyectos {
  fill: #3f51b5; }

.icon-tecnologias {
  fill: #9c27b0; }

.icon-contacto {
  fill: #795548; }

.icon-educacion {
  fill: #fb9802; }

.icon-menu {
  fill: #008073;
  width: 4rem;
  height: 4rem; }

.icon-menu:hover .sidebar {
  left: 0; }

/* EDUCACION SECTION*/
.educacion-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80rem;
  margin: auto; }
  @media only screen and (max-width: 650px) {
    .educacion-container {
      justify-content: center; } }

.card__educacion {
  width: 38rem;
  height: 20rem;
  background-color: white;
  margin-bottom: 4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden; }

.card__educacion__h3 {
  padding: 0.5rem 2rem 2rem 2rem; }

/* ------- --------*/
.p-sobremi {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 3rem 2rem;
  text-decoration: none solid #333333;
  line-height: 4.3rem;
  text-align: justify; }
  @media only screen and (max-width: 530px) {
    .p-sobremi {
      font-size: 2rem; } }

.sobremi-container {
  max-width: 80rem;
  display: flex;
  margin: 4rem auto;
  flex-direction: column; }
