.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../assets/imgs/antakari-kike.jpeg');
    background-size: cover;
    background-position: center bottom;
    object-fit: contain;
}
.hero__titulo{
    font-size: 4rem;
    padding: 5rem 0 0 6rem;
}

.link-container{
    padding: 1.5rem;

}

.link-container:hover{
    background-color: #FAFAFA;
    padding-left: 2rem;
    transition: all .3s;
}

.divider{
    display:flex;
    align-items: center;
    width:100%;
    height:10.8rem;
    background-color: $color-primary;
    margin-bottom: 5rem;
}

.divider-titulo{
    color: white;
    font-size: 4.3rem;
    font-weight: 100;
    padding:5rem;
}

.icon{
    height:2.5rem;
    width:2.5rem;
    transform: translateY(2px);
}

.card{
    width:80rem;
    background-color: white;
    margin: 4rem auto;
    box-shadow: $shadow-light;
    border-radius: 3px;
    overflow: hidden;
}

.card__content{
}
.card__header{
    padding-top:2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    margin: 0 1.5rem;
}
.card__footer{
    background-color:$color-grey;
    padding: 2rem;
}

.proyectos{
    display: flex;
    margin: 4rem auto;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80rem;
}

.card-proyectos{
    width:30.1rem;
    height: 40rem;
    box-shadow:$shadow-light;
    margin-bottom: 5rem;
    border-radius: 3px;
    overflow: hidden;

}

.card-proyectos__images{
    object-fit: cover;
    width:100%;
    height: 70%;
}
.card-proyecto__content{
}

.contact{
    display:flex;
    flex-direction: column;
    max-width:80rem;
    margin:auto
}

.contact__icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height: 5rem;
    border-radius: 50%;
    background-color:$color-secundary;
}
.icon--contact{
    fill: white;
    height:2.5rem;
    width:2.5rem;
}
.contact-info{
    padding-bottom:2rem;
    display:flex;
    align-items: center;
    
}

.contact-link{
    margin-left: 2rem;
}

.card__footer__p{
    font-size:1.4rem;
    color: #666666;
}

.card__div__tecnologia{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding:3rem;

}
.card__img__tecnolgia{
    width: 10rem;
    height:10rem;
    object-fit: contain;
}
.card__content_tecnolgia{
    display: flex;
}
.card_p_tecnologia{
    font-size:2rem;
    font-weight: 300;
}

.h1__card__h1_tecnologias{
    color:$color-secundary;
}
.contact-link{
    color: $color-primary;
    font-size: 1.5rem;
    font-weight: 400;   
}

.contact-link::after{
    content:'';
    display: block;
    width:0;
    height:2px;
    background:$color-primary;
    transition: width .3s;
}

.contact-link:hover::after{
    width:100%;
    transition: width .3s;
}

/* ICON COLORS */

.icon-sobremi{
    fill: $color-primary;
}
.icon-experiencia{
    fill: #2bbcd5
}

.icon-proyectos{
    fill:#3f51b5
}
.icon-tecnologias{
    fill: #9c27b0
}

.icon-contacto{
    fill:#795548
}

/* EDUCACION SECTION*/


.educacion-container{
    display:flex;
    justify-content: flex-start;
    max-width: 80rem;
    margin:auto;

}

.card__educacion{
    width:40rem;
    height:20rem;
    background-color: white;
    margin-bottom: 4rem;
    box-shadow: $shadow-light;
    border-radius: 3px;
    overflow: hidden;

}

.card__educacion__h3{
    padding:0.5rem 2rem 2rem 2rem;
}

/* ------- --------*/