.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar{
    height: 100vh;
    width: 15vw;
    box-shadow: $shadow-light;
    background-color: $background-color-primary;
    transition: left .3s;
    @media only screen and (max-width:$bp-largest){
        width: 25rem;
    }
}

.side-bar-open{
    @media only screen and (max-width:$bp-largest){
        //display: none;
        position:absolute;
        left:0;
        top:8rem;
        
    }
}
.side-bar-close{
    @media only screen and (max-width:$bp-largest){
        //display: none;
        position:absolute;
        left:-25rem;
        top:8rem;
    }
}

.sidebar__titulo{
    color:#3a978d;
    font-size: 3.1rem;
    font-weight: 200;
    margin-bottom: 1rem;
}

.sidebar_subtitulo{
    font-size: 1.4rem;
    font-weight: 300;
    color:$color-secundary;
}

.sidebar_header{
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: start;
    padding:2rem;
    border-bottom: 0.1px solid grey;
    background-color: #FAFAFA;
    color: $color-secundary;
}

.sidebar__links-container{
    width:100%;
    display: flex;
    flex-direction: column;
    font-weight: 100;

}

.sidebar__link{
    font-size: 1.6rem;
}

.main{
    width:85vw;
    height: 100vh;
    overflow: auto;
    @media only screen and (max-width:$bp-largest){
        width:100vw;
    }
}

.h1-primary{
    color: $color-primary;
    font-size: 3rem;
    font-weight: 100;
    padding:1.5rem 1.5rem 1rem 1.5rem;
}

.h3-primary-subtitle{
    color:$color-secundary;
    font-size:2rem;
    padding-top: 1.5rem;
}

.p-card{
    font-size: 1.6rem;
    font-weight: 300;
    padding-left: 1.5rem;
}

.img-card{
    width:6rem;
    height:6rem;
    object-fit: contain;
}

.card_p{
    font-size:2rem;
    font-weight: 100;
    padding: 1.5rem;
}
.nav-fixed{
    width:100vw;
    height:8rem;
    position: fixed;
    flex-direction:row;
    display: flex;
    background-color: white;
    @media only screen and (min-width:$bp-largest){
        display:none;
    }
}

.nav-titulo-container{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.div-nav-icon-container{
    display:flex;
    align-items: center;
    margin-left: 2rem;

}

.nav-titulo{
    font-size:2.2rem;
    color:$color-primary;
}

.nav-subtitulo{
    font-size:1.4rem;
    font-weight: 200;
    color:$color-secundary;   
    text-align: center;
}

.titulo-hero{
    font-size:2.2rem;
    padding: 4rem;
    font-weight: 100;
    color:white;
}

