$color-primary:#008073;
$color-grey: darken(#FAFAFA, 6% );
$shadow-light: 0 1rem 2rem rgba($color: black, $alpha: 0.2);
$color-secundary:#7A5648;
$color-experiencia:#2bbcd5;
$color-proyectos:#3f51b5;
$color-tecnologias: #9c27b0;
$color-contacto:#795548;
$color-educacion:#fb9802;
$bp-largest:1000px;
$bp-large:800px;
$bp-medium:650px;
$bp-small: 530px;
$background-color-primary:white;